[user]
    name = nowherekai
    email = kailaichao@163.com
[color]
	ui = true
[core]
	editor = vim
	excludesfile = /home/klc/.gitignore
[merge]
	tool = vimdiff
[alias]
  st = status
  co = checkout
  ci = commit -v
  br = branch
